<input id="toggle-all" type="checkbox" {{#allCompleted}}checked="checked"{{/allCompleted}}>
<label for="toggle-all">Mark all as complete</label>
<ul id="todo-list">
{{#filteredTodos}}
	<li class="todo {{#completed}}completed{{/completed}} {{#editing}}editing{{/editing}}" data-index="{{@index}}">
		<div class="view">
			<input class="toggle" type="checkbox" {{#completed}}checked="checked"{{/completed}}>
			<label>{{title}}</label>
			<button class="destroy"></button>
		</div>
		<input class="edit" type="text" value="{{text}}">
	</li>
{{/filteredTodos}}
</ul>